body {
  font-family: Optima, Trebuchet, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  background-color: #890000;
  color: #555;
  margin: 0;
  padding: 0;
}

#page {
  background: white;
  margin: 1em;
}

#header {
  margin: 1em;
}

#header hr {
  border: none;
  border-bottom: 1px dotted #999;
}

#header h1 {
  font-size: 36pt;
  font-weight: bold;
  letter-spacing: -4pt;
}

#content {
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
}

#footer {
  text-align:center;
  clear:both;
}

h1, h2, h3 { 
  margin: 0; 
  padding: 0;           
}

h1 { 
  color: #333;
 }

a {
  color: #333;
}

a:hover {
  background-color: #333;
  color: white;
  text-decoration: none;
}

form {
  margin: 0;
}

a.admin, a.admin:visited {  
  font-size: 12px;
  color: #890000;
  text-decoration: none;
 }

a.admin:hover {  
  background-color: #890000;
  color: white;
}

ul { 
  padding: 0;
  margin: 0;
  margin-left: 20px;
  padding-left: 0;
  margin-bottom: 10px;
  padding-bottom: 0;
 }

li { 
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: 18px;
 }

#dialog {
  border-top: 1px solid #ccc;         
  border-left: 1px solid #ccc;         
  padding-bottom: 20px;
  color: #333;
}

#dialog_header, #dialog_header_edit { 
  background: #ccc;
  margin: 0;
  padding: 0;
  height: 40px;
  padding-left: 5px;
 }

#dialog h3 {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 18px;
  letter-spacing: -1px;
  color: #333;
  color:  #890000;
  border-bottom: 1px dotted #999;  
}

#dialog_body h2 {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 14px;
  letter-spacing: -1px;
  color:  #890000;
  border-bottom: 1px dotted #999;  
}

#dialog_header h1 {
  color:  #890000;
  display: inline;
  font-size: 32px;
}

#dialog_header h2 {
  color:  #333;
  display: inline;
}

#dialog_header_edit { 
  background: #333;                      
}

#dialog_header_edit h1 { 
  font-size: 32px;
}

#dialog_header_edit h1, #dialog_header_edit h2 { 
  color: white;
  display: inline;
}

#dialog_header h2, #dialog_header_edit h2 {
  font-size: 14px;            
}

#dialog_header a, #dialog_header a:visited {  
  background-color: white;
  color: #555;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  line-height: 38px;
 }

#dialog_header a:hover {  
  background-color: #555;
  color: white;
 }

#dialog_header_edit a, #dialog_header_edit a:visited {  
  background-color: #555;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  line-height: 38px;
  text-decoration: none;
 }

#dialog_header_edit a:hover {  
  background-color: white;
  color: #555;
 }

#dialog_body { 
  margin-left: 10px;
  margin-top: 20px;                  
 }

#dialog_body div.dialog_action {
  font-size: 10px;
  margin: 10px 0 0 0;
  padding: 5px 5px 5px 5px;
  border-top: 1px dotted #999;
  text-align: right;
}

#dialog_body table { 
  padding: 10px;                             
}

#dialog_body_edit { 
  background: #ccc;
 }

#dialog_body table th { 
  padding: 5px 5px 5px 5px;
  width: 100px;
  text-align: left;
}

#dialog_body table td { 
  padding: 5px 5px 5px 5px;
}

.blurb {
  background-color: #ddd;
  color: #333;
  float: right;
  width:200px;
  margin-right: 10px;
  font-size: 16px;
}

.blurb p {
  padding-left: 10px;
  padding-right: 10px; 
}

.disclaimer {
  color: red;
  font-size: 0.8em;
  text-align: center;
}

.header {
  float: left;
  width:150px;
  margin: .5em;
}

span.ruby {
  color: #890000;
}

span.smaller { 
  font-size: 14px;
}

span.standout { 
  color: #890000;
 }

div.flash { 
  color: #890000;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

ul.subjects { 
  margin-top: 5px;
  padding-top: 0;
}

ul.subjects li { 
  font-size: 14px;
  margin-bottom: 5px;
  padding-bottom: 0;
}

div.list { 
 padding: 0;
 margin: 0;
}

div.filter { 
 margin-left: 2em;
 font-size: .8em;
}

div.list ul { 
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
 }

div.list ul li { 
  padding: 0;
  margin: 0;
  margin-top: 5px;
 }

div.list p { 
  font-size: 16px;
 }

div.rules ol {
}

div.rules ol li { 
  list-style-type: decimal;
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  padding-bottom: 0;
}

div.todo h2, div.todo h3, div.todo h4 {
  color: #890000;
  margin: 1em;
}

div.todo p {
  margin-left: 3em;
}

div.todo h2 {
  font-size: 1.5em;
}

div.todo h3 {
  font-size: 1.3em;
}

div.todo h4 {
  font-size: 1.1em;
}

div.todo li {
  list-style-type: circle;
  margin-left: 1.5em;
}

.map {
  text-align: center;
  white-space: nowrap;
}

.rounded {
  margin: 1em;
  background-color: #ddd;
}
