<html>
<head>
  <title>Rubyholic.com</title> <!-- TODO: fix the title -->
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'prototype' %>
</head>
<body>

<h1 id="masthead">&nbsp;</h1>

<div id="content">

<% if params[:action] != "index" %>
  <span class="header">
    <%= link_to "[Home]", :action => :index %>
  </span>
<% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</div>

<p id="footer">
  <%= link_to "Rubyholic.com, v. #{Group::RUBYHOLIC_VERSION}", :action => :index %>
</p>

</body>
</html>
