<html>
<head>
  <title>Rubyholic.com: Are you a rubyholic?</title> <!-- TODO: fix the title -->
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'prototype' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
